
#about, #works2, #works1{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0 10px;
}
.BodyText, .BodyImg {
    box-sizing: border-box;
    height: 400px;
    width: 50%;
    padding-top: 20px;
}
body h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-family: sans-serif;
}

#skills {
    margin: 20px auto 0 auto;
    font-size: 18px;
    font-weight: bold;
}

.skillsTitle {
    width: 100px;
    text-align: right;
    line-height: 50px;
}
.skillsList {
    display: inline;
    color: whitesmoke;
    background-color: rgb(132, 132, 132);
    border-radius: 5px;
    padding: 3px;
}

.BodyText b {
    font-size: 30px;
    font-family: 'Gothic A1', sans-serif;
    color: black;
}
.BodyText p {
    font-size: 19px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    color: rgb(108, 108, 108);
    line-height: 30px;
}
.BodyImg { /*나중에 지울거*/
    background-color: rgb(176, 149, 202);
}

#contact {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}