* {
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 150px;
}
#Banner {
    position: relative;
    text-align: center;
}

#BannerImg {
    display: inline-block;
    max-width: 100%; /* 이미지 컨테이너 너비 초과하지 않도록 설정 */
}

#BannerText {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%); /*요소를 정확히 가운데로 이동시키는데 사용*/
    color: rgb(32, 32, 36); 
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

#BannerText h2 {
    margin: 0;
    font-size: 70px;
}

#BannerText p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

nav {
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

nav.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Gugi", sans-serif;
    color: rgb(32, 32, 36);
    cursor: pointer;
    margin: 0 1.5em;
}

#nav_line {
    height: 10px;
    width: 100%;
    background-color: rgb(255, 209, 209);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#nav_line2 {
    height: 10px;
    width: 0;
    background-color: #ffffff;
    /* border: solid 1px rgb(255, 188, 188); */
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

#subbox {
    background-color: white;
    height: 30px;
}