body, html {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}
#Banner {
    position: relative;
    text-align: center;
}

#BannerImg {
    display: inline-block;
    max-width: 100%; /* 이미지 컨테이너 너비 초과하지 않도록 설정 */
}

#BannerText {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%); /*요소를 정확히 가운데로 이동시키는데 사용*/
    color: rgb(32, 32, 36); 
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

#BannerText h2 {
    margin: 0;
    font-size: 70px;
}

#BannerText p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

#main_menu {
    margin: 10px;
    background-color: rgb(255, 243, 234);
    list-style-type: none;
    padding: 10px;
    border-radius: 15px;
}
#main_menu li {
    font-size: 18px;
    display: inline;
    padding: 0 15px;
    width: 70px;
    text-align: center;
    font-family: 'Gugi', sans-serif;
    color: rgb(32, 32, 36);
    cursor: pointer;
}